body {
  scroll-behavior: smooth;
  background-image: url('2184723-tecnologia-com-fundo-azul-escuro-vetor.jpg');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-duration: 0.5s;
  text-shadow: 0px 0px 10px white;
}
pre {
  display: block;
  font-size: 87.5%;
  color: #ffffff;
  margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

#txtinicio{
  transition-duration: 0.4s;
}

#boxes{
  transition-duration: 0.4s;
}

html{
  height: 100%;
  transition-duration: 0.5s;
}

.col-md-6{
  border-radius: 9px;
  background-color: rgba(28, 64, 211, 0.9);
  box-shadow: 0 0 10px aqua;
  transition-duration: 0.5s;
}

main {
  flex: 1;
  transition-duration: 0.5s;
}

/*Titulo*/

#titulo {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0px 6px 5px rgb(55, 148, 255);
  transition-duration: 0.4s;
}

#titulo h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

#titulo p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/*Imagens*/

#vmimg{
  margin-top: -80px;
  margin-left: 331px;
  width: 215px;
}

#cnvimg{
  margin-top: -79px;
  margin-left: 206px;
  width: 113px;
}

#psimg{
  margin-top: -65px;
  margin-left: 473px;
  width: 77px;
}

#ptimg{
  margin-top: -73px;
  margin-left: 280px;
  width: 105px;
}

#vsimg {
  margin-top: -73px;
  margin-left: 238px;
  width: 176px;
}

#brmimg{
  margin-top: -78px;
  margin-left: 289px;
  width: 81px;
}

#sqlimg
{
  margin-top: -70px;
  margin-left: 575px;
  width: 89px;
}

#vscimg {
  margin-top: -69px;
  margin-left: 308px;
  width: 60px;
}

/*Caixas*/

.box {
  background-color: rgba(28, 64, 211, 0.9);
  border-radius: 12px;
  padding: 30px 25px;
  box-shadow: 6px 5px 15px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  box-shadow: 0 0 10px aqua;
  border-left: 5px solid aqua;
  transition-duration: 0.4s;
}

.box:hover {
  transform: scale(1.03);
  background-color: rgba(255, 255, 255, 0.15);
}

.btn-custom {
  background-color: rgb(96, 220, 255);
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  display: inline-block;
  transition: 0.5s ease;
  box-shadow: 0px 0px 10px 0px;
}

.btn-custom:hover {
  background-color: rgb(55, 148, 255);
  box-shadow: 0 0 10px aqua;
  transform: scale(1.03);
}

/*Misc*/

footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ccc;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  border-top: 2px solid rgba(255,255,255,0.2);
  transition-duration: 0.5s;
}

#vlt{
  background-color: rgb(55, 148, 255);
  box-shadow: 0 0 10px aqua;
}

@media (max-width: 768px) {
  #titulo h1 {
    font-size: 2rem;
    border-left: 4px solid #00ffff
  }
  .box {
    margin-bottom: 20px;
  }
  .spacing-right {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.spacing-right {
  margin-right: 30px;
}

.content-block {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 25px;
  margin-bottom: 30px;
  border-left: 5px solid aqua;
  border-radius: 8px;
  transition: 0.5s;
}

.content-block:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.logo-img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

/* MODO ESCURO */

body.dark-mode {
  background-color: #121212 !important;
  color: #f0f0f0;
 /* background-image: url(background-novo.png);*/
 background-image: url(backgroun2.png);
}

body.dark-mode .box,
body.dark-mode .content-block {
  background-color: #0000006e;
  color: #ffffff;
  border-left: 5px solid #ffffff;
  box-shadow: 0 0 10px 
}

.dark-mode .content-block:hover {
  background-color: rgba(17, 17, 17, 0.731);
}

body.dark-mode header#titulo {
  box-shadow: 0px -20px 70px #ffffff;
  background-color: #0000006e;
  color: #ffffff;
}

body.dark-mode .btn-custom {
  background-color: #ffffff;
  color: #000;
  box-shadow: 0px 0px 7px 0px;
  box-shadow: 0px 0px 10px 2px #ffffff;
}

body.dark-mode footer {
  background-color: #000000b6;
  border-top: 1px solid #ffffff;
  color: #ccc;
}

/* Botão Dark\Light Mode*/

.modo-escuro-toggle {
  position: fixed;
  top: 10px;
  right: 15px;
}

#toggleModo{
  transition-duration: 0.5s;
  border-radius: 20px;
}